<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-treeview.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'>
    <link rel="stylesheet" href="../../../index/css/sidenav.css">
    <link rel="stylesheet" href="../../../index/css/frame.css">
    <link rel="stylesheet" href="../css/res.css">
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <nav class="navbar navbar-default topbar" style="background-color: #2f353f;border: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#head-navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="head-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../index/img/home.png" width="25px" height="25px">
                        </a>
                        <div class="dropdown-menu">
                            <!--TODO 下拉信息-->
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/people.png" width="25px" height="25px">
                            <b>用户信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/help.png" width="25px" height="25px">
                            <b>用户文档</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/msg.png" width="25px" height="25px">
                            <b>软件信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/iphone.png" width="25px" height="25px">
                            <b>移动应用</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/download.png" width="25px" height="25px">
                            <b>下载中心</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-weight: bold;font-size: 17px;color: white">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--侧边栏-->
    <nav class="navbar navbar-inverse sidebar" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <div class="slimscrollleft">
            <ul class="sidenav-menu">
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                    <span class="sidenav-link-icon">
                        <i><img src="../../../index/img/s_base.png" width="20px" height="20px"></i>
                    </span>
                        <span class="sidenav-link-title">
                            基础应用
                        </span>
                        <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_down</i>
                        </span>
                        <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_up</i>
	                    </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li>
                            <a href="#"
                               onclick="openPage('basemanage/organization/view/orgmanagement.html','基础应用','组织管理')">
                                组织管理
                            </a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                资源管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
                                </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/resource/view/resmanagement.html','资源管理','统一资源入口')">统一资源入口</a>
                                </li>
                                <li><a href="#">服务器管理</a></li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/resconnect/view/resconnect.html','资源管理','资源关联配置')">资源关联配置</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                用户管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/user/view/usermanage.html','用户管理','用户管理')">用户管理</a>
                                </li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/role/view/rolemanage.html','用户管理','角色管理')">角色管理</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" onclick="openPage('basemanage/person/view/personmanage.html','人员管理')">人员管理</a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                日志管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/log/config-log/view/configlog.html','日志管理','配置日志')">配置日志</a>
                                </li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/log/control-log/view/controllog.html','日志管理','控制日志')">控制日志</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                系统管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown="">
                                <li><a href="#">系统配置</a></li>
                                <li><a href="javascript:;"
                                       onclick="openPage('basemanage/sysconfig/domain/view/domain.html','系统设置','网域配置')">网域配置</a>
                                </li>
                                <li><a href="#">系统邮箱</a></li>
                                <li><a href="#">短信设备配置</a></li>
                                <li><a href="#">数据库配置</a></li>
                                <li><a href="#">子系统配置</a></li>
                                <li><a href="#">Logo自定义</a></li>
                                <li><a href="javascript:;"
                                       onclick="openPage('basemanage/sysconfig/apiconfig/view/apiconfig.html','系统设置','Api第三方接入设置')">Api第三方接入配置</a>
                                </li>
                                <li><a href="#">微信公众号配置</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                        <span class="sidenav-link-icon">
                            <i><img src="../../../index/img/s_event.png" width="20px" height="20px"></i>
                        </span>
                        <span class="sidenav-link-title">
                            事件中心
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_up</i>
	                        </span>
                        </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li><a href="#">基础配置</a></li>
                        <li><a href="#">预案配置</a></li>
                        <li><a href="#">事件规则</a></li>
                        <li><a href="#">事件日志</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #00FFCC;">
                            <i><img src="../img/v_162.png" width="60px" height="30px"></i>
                            <p>视&nbsp;&nbsp;&nbsp;&nbsp;频</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>视频相关服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>视频相关设备配置入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #ffbc0c">
                            <img src="../img/d_162.png" width="60px" height="60px">
                            <p>门&nbsp;&nbsp;&nbsp;&nbsp;禁</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>门禁接入服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>门禁设备管理入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #ff6844">
                            <img src="../img/r_160.png" width="60px" height="60px">
                            <p>报&nbsp;&nbsp;&nbsp;&nbsp;警</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>入侵报警主机接入服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>入侵报警主机设备配置入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #66FFFF;">
                            <img src="../img/p_162.png" width="60px" height="60px">
                            <p>停车场</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>停车场管理</h4></a>
                            <p>停车场参数配置入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #6699FF;">
                            <img src="../img/s_162.png" width="60px" height="60px">
                            <p>可视对讲</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>可视对讲接入服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>可视对讲设备配置入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #FF99FF;">
                            <img src="../img/m_162.png" width="60px" height="60px">
                            <p>消&nbsp;&nbsp;&nbsp;&nbsp;费</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>基础配置</h4></a>
                            <p>基础配置入口</p>
                            <a href="#"><h4>消费管理</h4></a>
                            <p>消费管理入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #99FF99;">
                            <img src="../img/tk_162.png" width="60px" height="60px">
                            <p>梯&nbsp;&nbsp;&nbsp;&nbsp;控</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>梯控接入服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>梯控设备管理入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #33FFFF">
                            <img src="../img/dh_162.png" width="60px" height="60px">
                            <p>动&nbsp;&nbsp;&nbsp;&nbsp;环</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>动环相关服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>动环相关设备管理入口</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4" style="background-color: #3399FF">
                            <img src="../img/sj_162.png" width="60px" height="60px">
                            <p>事件中心</p>
                        </div>
                        <div class="col-md-6">
                            <a href="#"><h4>服务器</h4></a>
                            <p>事件管理服务器管理入口</p>
                            <a href="#"><h4>硬件设备</h4></a>
                            <p>事件规则及联动配置设备入口</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../common/libs/jquery-slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../index/js/sidenav.js"></script>
<script src="../../../index/js/frame.js"></script>
<script>
    /*侧边栏*/
    $('[data-sidenav]').sidenav()
</script>
</body>
</html>