<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单管理</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/menuman"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-opera-se">
                <a id="addMenu" class="btn btn-primary"><span
                        class="glyphicon glyphicon-plus"></span>添加菜单
                </a>
            </div>
            <div class="content-panel panel-main">
                <table id="menu_table"></table>
            </div>
        </div>
    </div>
</div>
<!--添加菜单弹窗-->
<form id="addMpanel" class="form-horizontal" style="display: none">
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>菜单名称：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="Menuname" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>上级菜单：</label>
        <div class="col-sm-7" style="padding: 0px">
            <select name="MenuparentId" class="form-control">
                <option value="-1">无</option>
            </select>
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">页面路径：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="Menuurl" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>菜单展示序号：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="MenuorderNo" type="text" class="form-control">
        </div>
    </div>
<!--    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">菜单图标：</label>
        <div class="col-md-3">
            <div class="menuIcon" style="width: 55px;height: 55px;border: 1px solid lightgray;text-align: center;vertical-align: center;padding-top: 8px">
                <i class="fa fa-user-o fa-2x"></i>
                <a href="javascript:;" style="display: block;font-size: 12px;background-color: lightgray">修改图标</a>
            </div>
        </div>
    </div>-->
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">备注：</label>
        <div class="col-sm-7" style="padding: 0px">
            <textarea name="Menuremark" class="form-control"></textarea>
            <input  name="res" type="reset" style="display:none;" />
        </div>
    </div>
    <div class="tab-footer">
        <button type="submit" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</form>
<!--修改菜单弹窗-->
<form id="editMpanel" class="form-horizontal" style="display: none">
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">菜单名称：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="edit_Mname" type="text" class="form-control">
            <input name="edit_Mid" type="hidden">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">页面路径：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="edit_Murl" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">菜单展示序号：</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="edit_Mno" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4">备注：</label>
        <div class="col-sm-7" style="padding: 0px">
            <textarea name="edit_Mremark" class="form-control"></textarea>
            <input  name="res" type="reset" style="display:none;" />
        </div>
    </div>
    <div class="tab-footer">
        <button type="submit" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</form>
</body>
</html>