<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基础配置</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/taskconfig"></script>
</head>
<body>
<div class="wrapper">
    <!--侧边栏-->
    <div id="sidebar">

    </div>
    <!--头部-->
    <div id="head"></div>
    <div class="contentpage">

    </div>
</div>
</body>
</html>