<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务管理</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/taskmain"></script>
</head>
<body>
<div class="wrapper">
    <!--侧边栏-->
    <div id="sidebar">

    </div>
    <!--头部-->
    <div id="head"></div>
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-opera-se">
                <a id="addTask" class="btn btn-primary"><span
                        class="glyphicon glyphicon-plus"></span>添加任务
                </a>
            </div>
            <div class="content-panel panel-main">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="task_table"></table>
                </div>
            </div>
        </div>
    </div>
    <!--添加任务弹窗-->
    <div id="add_task" style="display: none;padding: 10px 0px 0 0px;">
        <form id="domainForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-2 control-label"><i class="required">*</i>任务编号：</label>
                <div class="col-sm-3" style="padding: 0px">
                    <input name="domainName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-2 control-label">任务类型：</label>
                <div class="col-sm-3" style="padding: 0px">
                    <input type="text" class="form-control" name="parentDoamin" readonly>
                    <input type="hidden" name="parentDoaminCode">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-2 control-label">优先级：</label>
                <div class="col-sm-3" style="padding: 0px">
                    <input type="number" class="form-control" name="parentDoamin" readonly>
                    <input type="hidden" name="parentDoaminCode">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-3" style="padding: 0px">
                    <textarea name="domainRemark" cols="40" rows="2"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>