<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../../../index/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--头部-->
<nav class="navbar navbar-default topbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#head-navbar-collapse" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="head-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="../../../../index/img/home.png" width="25px" height="25px">
                    </a>
                    <div class="dropdown-menu">
                        <!--TODO 下拉信息-->
                    </div>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../index/img/people.png" width="25px" height="25px">
                        <b>用户信息</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../index/img/help.png" width="25px" height="25px">
                        <b>用户文档</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../index/img/msg.png" width="25px" height="25px">
                        <b>软件信息</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../index/img/iphone.png" width="25px" height="25px">
                        <b>移动应用</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../../../../index/img/download.png" width="25px" height="25px">
                        <b>下载中心</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span style="font-weight: bold;font-size: 17px;color: white">退出</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--侧边栏-->
<div class="side-left">
    <nav class="navbar sidebar" data-sidenav>
        <div class="profile">
            <a class="collapse-icon">
                <i class="fa fa-arrow-left fa-2x"></i>
            </a>
            <p class="centered">
                <a href="">
                    <img class="img-circle" width="80" src="../../../../index/img/ui-sam.jpg">
                </a>
            </p>
            <h5 class="centered">Administrator</h5>
        </div>
        <ul class="side-menu menu">
            <li>
                <a href="">
                    <i class="fa fa-cogs"></i>
                    <span>中心管理</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-cogs"></i>
                    <span>地图管理</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-cogs"></i>
                    <span>设备网关</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="second-menu-list">
        <div class="second-menu">
            <ul class="menu">
                <li>
                    <a href="">
                        <i class="fa fa-sitemap"></i>
                        <span>组织管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-th-large"></i>
                        <span>资源管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-user-o"></i>
                        <span>用户管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-users"></i>
                        <span>人员管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-credit-card"></i>
                        <span>证卡管理</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cog"></i>
                        <span>系统配置</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="second-menu">
            <ul class="menu">
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="third-menu-list">
        <div class="third-menu">
            <ul class="menu">
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理4</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理4</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理4</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--主体内容-->
<div class="contentpage">
    <div class="content">
        <div class="content-panel">
            <div class="head">
                <div class="head-left" style="width: 280px">
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">添加</span></a>
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">修改</span></a>
                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span></a>
                </div>
            </div>
            <table id="device_type_table" data-height="655">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-field="devTypeName" data-align="center">设备类型</th>
                        <th data-field="devTypeIndex" data-align="center">类型标识</th>
                        <th data-field="devTypeDesc" data-align="center">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script src="../../common/libs/require.js" data-main="../js/deviceType.js"></script>
</body>
</html>