<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../../../index/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="">
<!--头部-->
<div id="head"></div>
<!--侧边栏-->
<div id="sidebar"></div>
<!--主体内容-->
<div class="contentpage">
    <div class="content">
        <div class="content-panel">
            <div class="head">
                <div class="head-left" style="width: 280px">
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">添加</span></a>
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">修改</span></a>
                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span></a>
                </div>
            </div>
            <table id="device_type_table" data-height="655">
                <thead>
                    <tr>
                        <th data-checkbox="true"></th>
                        <th data-field="devTypeName" data-align="center">设备类型</th>
                        <th data-field="devTypeIndex" data-align="center">类型标识</th>
                        <th data-field="devTypeDesc" data-align="center">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
</body>
</html>