@media screen and (min-width: 768px){
    .navbar-right b{
        display: none;
    }
}
.navbar-right b{
    margin-left: 10px;
    font-size: 16px;
    color: white;
}
.topbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sidebar{
    height: 100%;
    width: 220px;
    bottom: 50px;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 70px;
    position: fixed;
    top: 50px;
    overflow: hidden;
    background-color: #2f353f;
}
.contentpage{
    margin-left: 220px;
    overflow: hidden;
}
.content{
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    padding:30px;
    background-color: #e5e5e5;
}
.content-head{
    font-size: 14px;
    padding-left: 40px;
    padding-top: 10px;
}
.content-head>ol{
    margin: 0;
    padding: 0;
    display:inline-block;
}
iframe{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}