<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'>
    <link rel="stylesheet" href="../../../index/css/sidenav.css">
    <link rel="stylesheet" href="../css/deviceinfo.css">
    <link rel="stylesheet" href="../../../index/css/frame.css">
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <nav class="navbar navbar-default topbar" style="background-color: #2f353f;border: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#head-navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="head-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../index/img/home.png" width="25px" height="25px">
                        </a>
                        <div class="dropdown-menu">
                            <!--TODO 下拉信息-->
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/people.png" width="25px" height="25px">
                            <b>用户信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/help.png" width="25px" height="25px">
                            <b>用户文档</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/msg.png" width="25px" height="25px">
                            <b>软件信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/iphone.png" width="25px" height="25px">
                            <b>移动应用</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/download.png" width="25px" height="25px">
                            <b>下载中心</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-weight: bold;font-size: 17px;color: white">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--侧边栏-->
    <nav class="navbar navbar-inverse sidebar" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <div class="slimscrollleft">
            <ul class="sidenav-menu">
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                    <span class="sidenav-link-icon">
                        <i><img src="../../../index/img/s_base.png" width="20px" height="20px"></i>
                    </span>
                        <span class="sidenav-link-title">
                            基础应用
                        </span>
                        <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_down</i>
                        </span>
                        <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_up</i>
	                    </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li>
                            <a href="#"
                               onclick="openPage('basemanage/organization/view/orgmanagement.html','基础应用','组织管理')">
                                组织管理
                            </a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                资源管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
                                </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/resource/view/resmanagement.html','资源管理','统一资源入口')">统一资源入口</a>
                                </li>
                                <li><a href="#">服务器管理</a></li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/resconnect/view/resconnect.html','资源管理','资源关联配置')">资源关联配置</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                用户管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/user/view/usermanage.html','用户管理','用户管理')">用户管理</a>
                                </li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/role/view/rolemanage.html','用户管理','角色管理')">角色管理</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" onclick="openPage('basemanage/person/view/personmanage.html','人员管理')">人员管理</a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                日志管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="#"
                                       onclick="openPage('basemanage/log/config-log/view/configlog.html','日志管理','配置日志')">配置日志</a>
                                </li>
                                <li><a href="#"
                                       onclick="openPage('basemanage/log/control-log/view/controllog.html','日志管理','控制日志')">控制日志</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                系统管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown="">
                                <li><a href="#">系统配置</a></li>
                                <li><a href="javascript:;"
                                       onclick="openPage('basemanage/sysconfig/domain/view/domain.html','系统设置','网域配置')">网域配置</a>
                                </li>
                                <li><a href="#">系统邮箱</a></li>
                                <li><a href="#">短信设备配置</a></li>
                                <li><a href="#">数据库配置</a></li>
                                <li><a href="#">子系统配置</a></li>
                                <li><a href="#">Logo自定义</a></li>
                                <li><a href="javascript:;"
                                       onclick="openPage('basemanage/sysconfig/apiconfig/view/apiconfig.html','系统设置','Api第三方接入设置')">Api第三方接入配置</a>
                                </li>
                                <li><a href="#">微信公众号配置</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                        <span class="sidenav-link-icon">
                            <i><img src="../../../index/img/s_event.png" width="20px" height="20px"></i>
                        </span>
                        <span class="sidenav-link-title">
                            事件中心
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_up</i>
	                        </span>
                        </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li><a href="#">基础配置</a></li>
                        <li><a href="#">预案配置</a></li>
                        <li><a href="#">事件规则</a></li>
                        <li><a href="#">事件日志</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel" style="min-height: calc(100vh - 110px)">
                <div class="row">
                    <div class="col-md-2">
                        <div id="device_tree"></div>
                    </div>
                    <div class="col-md-10">
                        <div class="head">
                            <div class="head-left" style="width: 100%">
                                <a href="javascript:;" onclick="add_device()"><span class="glyphicon glyphicon-plus"
                                                                                    aria-hidden="true">添加</span></a>
                                <a href="javascript:;" onclick="alt_device()"><span class="glyphicon glyphicon-pencil"
                                                                                    aria-hidden="true">修改</span></a>
                                <a href="javascript:;" onclick="del_device()"><span class="glyphicon glyphicon-remove"
                                                                                    aria-hidden="true">删除</span></a>
                                <a href="#"><span class="glyphicon glyphicon-download-alt"
                                                  aria-hidden="true">下载模版</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down"
                                                  aria-hidden="true">导入</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">导出</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">单条添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true">发布到GB28181</span></a>
                            </div>
                        </div>
                        <div style="margin: 10px 0px">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>设备名称</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>IP地址</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>生产商</label>
                                    <select class="form-control">
                                        <option>请选择</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary">查询</button>
                                <button class="btn btn-default">重置</button>
                            </form>
                        </div>
                        <table id="device_table">
                            <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="id" data-align="center" data-visible="false">编码设备序号</th>
                                <th data-field="deviceName" data-align="center">设备名称</th>
                                <th data-field="devTypeName" data-align="center">设备类型</th>
                                <th data-field="deviceAddress" data-align="center">安装地址</th>
                                <th data-field="deviceOnlineStatus" data-align="center">在线状态</th>
                                <th data-field="deviceIp" data-align="center">设备IP地址</th>
                                <th data-field="amgPort" data-align="center">拉流服务端口</th>
                                <th data-field="amgProto" data-align="center">拉流协议</th>
                                <th data-field="adgPort" data-align="center">运维端口</th>
                                <th data-field="adgProto" data-align="center">运维设备协议</th>
                                <th data-field="deviceChaNum" data-align="center">设备通道数</th>
                                <th data-field="deviceUser" data-align="center">设备登录用户名</th>
                                <th data-field="modelIdentity" data-align="center">设备型号</th>
                                <th data-field="manuIdentity" data-align="center">设备厂商</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加设备弹出层-->
<form id="add_dev_form" class="form-horizontal" style="display: none">
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备名称</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备信息安装地址</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备IP地址</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>拉流服务端口</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>拉流协议</label>
        <div class="col-sm-7">
            <select class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>运维端口</label>
        <div class="col-sm-7">
            <select class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>运维设备协议</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>视频通道数</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备登录用户名</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备登录密码</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>确认登录密码</label>
        <div class="col-sm-7">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备型号</label>
        <div class="col-sm-7">
            <select class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备厂商</label>
        <div class="col-sm-7">
            <select class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="padding-left: 210px">
        <button type="button" class="btn btn-info" style="margin-right: 20px">提交</button>
        <button type="button" class="btn btn-default">取消</button>
    </div>
</form>
<script src="../../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-treeview.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table-zh-CN.js"></script>
<script src="../../../common/libs/jquery-slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../index/js/sidenav.js"></script>
<script src="../../../index/js/frame.js"></script>
<script src="../../../common/js/utils.js"></script>
<script src="../js/deviceInfoService.js"></script>
<script src="../js/deviceinfo.js"></script>
<script src="../../../common/libs/layer/layer.js"></script>
</body>
</html>