<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>地图配置</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">

    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">

    <!--本页-->
    <link rel="stylesheet" href="../css/basemap.css">
    <link rel="stylesheet" href="../../../common/lib/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../common/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../../../common/lib/layx/layx.css">


    <script src="../../common/libs/require.js" defer async="true" data-main="../js/basemap"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content feature">
            <!--最外层的阴影边框-->
            <div class="feature-center feature-border">
                <!--内部的fluid，主要包含的是tab-->
                <div class="container-fluid">
                    <ul id="featureTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#base" data-toggle="tab">
                                底图配置
                            </a>
                        </li>
                        <li><a href="#show" data-toggle="tab">底图查看</a></li>
                    </ul>
                    <div class="tab-content featureTabContent">
                        <!--底图配置-->
                        <div class="tab-pane fade in active" id="base">
                            <!--1地图配置-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h3 class="big-title">地图配置</h3>
                                </div>
                            </div>
                            <!--1.1供应商-->
                             <div class="form-group">
                                 <div class="col-sm-12">
                                     <label class="col-sm-2 col-sm-offset-2 little-title" style="text-align: right;line-height: 33px;font-size: 20px">地图供应商:</label>
                                     <div class="col-sm-2">
                                         <select class="form-control" id="supplier">
                                             <option>天地图</option>
                                             <option>百度地图</option>
                                             <option>高德地图</option>
                                             <option>谷歌地图</option>
                                         </select>
                                     </div>
                                     <!--<div class="col-sm-1">-->
                                         <!--<a href="void:javascript:void(0);" id="supplier-config"><i class="fa fa-cog little-title"></i></a>-->
                                     <!--</div>-->
                                 </div>
                             </div>
                            <!--1.2地图名称-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">地图名称:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="地图名称">
                                    </div>
                                </div>
                            </div>
                            <!--1.3所属区域-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">所属区域:</label>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>湖南省</option>
                                            <option>湖北省</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>长沙市</option>
                                            <option>常德市</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control">
                                            <option>岳麓区</option>
                                            <option>开福区</option>
                                            <option>长沙县</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--2服务配置-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h3 class="big-title">GIS服务器配置</h3>
                                </div>
                            </div>
                            <!--2.1端口设置-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">GIS服务器地址:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="GIS服务器地址" id="address">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">端口设置:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="端口设置" id="port">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">文件夹名称:</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="文件夹名称，若不填则为默认值" id="file">
                                    </div>
                                </div>
                            </div>
                            <!--2.2服务类型-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">服务类型:</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" id="category">
                                            <option>WMS</option>
                                            <option>WMTS</option>
                                            <option>WFS</option>
                                            <option>TMS</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!--3预览服务-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h3 class="big-title">预览服务</h3>
                                </div>
                            </div>
                            <!--3.1预览查看服务-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">预览服务:</label>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary">点击预览</button>
                                    </div>
                                </div>
                            </div>

                            <!--4发布服务-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <h3 class="big-title">发布服务</h3>
                                </div>
                            </div>
                            <!--3.1预览查看服务-->
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-2 col-sm-offset-2 little-title">发布服务:</label>
                                    <div class="col-sm-2">
                                        <button class="btn btn-danger">发布服务</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!--服务预览-->
                        <div class="tab-pane fade" id="show">
                            <div class="left feature-border">
                                <div class="tree-head">
                                    <a id="show-map" href="#" title="查看地图" onclick="return false;"><i class="fa fa-map-o"></i>查看地图</a>
                                    <a id="edit" href="#" title="编辑" onclick="return false;"><i class="fa fa-edit"></i>编辑</a>
                                    <a id="remove" href="#" title="删除" onclick="return false;"><i class="fa fa-remove"></i>
                                        删除节点</a>
                                </div>
                                <ul id="treeDemo" class="ztree"></ul>

                                <!--<select id="testSelect">-->
                                    <!--<option value="1">1</option>-->
                                    <!--<option value="2">2</option>-->
                                    <!--<option value="3">3</option>-->
                                <!--</select>-->
                            </div>

                            <div class="right feature-border">
                                <div id="map" class="right-content"></div>

                                <div id="information" class="right-content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <!--1地图配置-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="big-title">地图配置</h3>
                                                </div>
                                            </div>
                                            <!--1.1供应商-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">地图供应商:</label>
                                                    <div class="col-sm-2">
                                                        <select class="form-control">
                                                            <option>天地图</option>
                                                            <option>百度地图</option>
                                                            <option>高德地图</option>
                                                            <option>谷歌地图</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a href="void:javascript:void(0);"><i class="fa fa-cog little-title"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--1.2地图名称-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">地图名称:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" placeholder="地图名称">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--1.3所属区域-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">所属区域:</label>
                                                    <div class="col-sm-2">
                                                        <select class="form-control">
                                                            <option>湖南省</option>
                                                            <option>湖北省</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control">
                                                            <option>长沙市</option>
                                                            <option>常德市</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <select class="form-control">
                                                            <option>岳麓区</option>
                                                            <option>开福区</option>
                                                            <option>长沙县</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--2服务配置-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="big-title">服务配置</h3>
                                                </div>
                                            </div>
                                            <!--2.1端口设置-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">端口设置:</label>
                                                    <div class="col-sm-2">
                                                        <input type="text" class="form-control" placeholder="端口设置">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--2.2服务类型-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">服务类型:</label>
                                                    <div class="col-sm-2">
                                                        <select class="form-control" >
                                                            <option>WMS</option>
                                                            <option>WMTS</option>
                                                            <option>WFS</option>
                                                            <option>TMS</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <a href=""><i class="fa fa-cog little-title"></i></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--3预览服务-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="big-title">预览服务</h3>
                                                </div>
                                            </div>
                                            <!--3.1预览查看服务-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">预览服务:</label>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-primary">点击预览</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--4发布服务-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <h3 class="big-title">发布服务</h3>
                                                </div>
                                            </div>
                                            <!--3.1预览查看服务-->
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <label class="col-sm-2 col-sm-offset-2 little-title">发布服务:</label>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-danger">发布服务</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>