<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>要素配置</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">

    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">

    <!--本页-->
    <link rel="stylesheet" href="../css/feature.css">
    <link rel="stylesheet" href="../../../common/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../../../common/lib/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../common/lib/leaflet/lib/draw/Leaflet.Draw.css">
    <link rel="stylesheet" href="../../../common/lib/layx/layx.css">

    <script src="../../common/libs/require.js" defer async="true" data-main="../js/feature"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content feature">

            <div class="panel panel-default" style="height: 100%" id="pan">
                <div class="panel-heading" id="pan-head">
                    <h3 class="panel-title">要素配置</h3>
                </div>
                <div class="panel-body" id="pan-body" style="height:calc(100% - 30px)">
                    <!--核心内容-->
                    <div class="feature-center feature-border">
                        <div class="left feature-border">
                            <div class="tree-head">
                                <a id="addParent" href="#"  onclick="return false;"><i class="fa fa-plus-circle"></i>增加</a>
                                <a id="edit" href="#" onclick="return false;"><i class="fa fa-edit"></i>位置关联</a>
                                <a id="remove" href="#" onclick="return false;"><i class="fa fa-remove"></i>删除</a>

                                <select class="marg-5" name="" id="">
                                    <option value="">请选择加载类型</option>
                                    <option value="">设备</option>
                                    <option value="">人</option>
                                    <option value="">路</option>
                                </select>
                            </div>
                            <ul id="treeDemo" class="ztree"></ul>
                        </div>
                        <div class="right feature-border" >
                            <div class="map feature-border" id="map" style=""></div>
                            <div class="information feature-border">
                                <!--位置关联，编辑数据-->
                                <div class="container-fluid editTreeData form-hidden">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <h3 class="big-title">要素信息</h3>
                                            </div>
                                        </div>
                                        <!--1.1要素名称-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">要素名称:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" placeholder="要素名称" id="feature-name">
                                                </div>
                                            </div>
                                        </div>
                                        <!--1.2要素类型-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">要素类型:</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="feature-level1">
                                                        <option value="none">请选择</option>
                                                        <option value="feature-point">点要素</option>
                                                        <option value="feature-line">线要素</option>
                                                        <option value="feature-polygon">面要素</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="feature-level2">
                                                        <option value="">请选择</option>
                                                        <option value="">建筑</option>
                                                        <option value="">设备</option>
                                                        <option value="">道路</option>
                                                        <option value="">轨迹</option>
                                                        <option value="">地图</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--1.4要素图标-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">要素图标:</label>
                                                <div class="col-sm-3">
                                                    <input type="file" class="form-control" placeholder="要素图标" id="upload-img">
                                                </div>
                                            </div>
                                        </div>
                                        <!--1.5位置关联-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">位置关联:</label>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-danger btn-magbtm" id="setPosition">位置关联</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--1.3添加楼层-->
                                        <div class="form-group form-hidden" id="add-building-btn">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">添加楼层:</label>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-danger btn-magbtm" id="add-building">添加楼层</button>
                                                    <!--<span for="">星沙</span>-->
                                                </div>
                                            </div>
                                        </div>

                                        <!--1.6坐标和缩放-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">地理信息:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" placeholder="坐标范围" id="feature-coors">
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" placeholder="缩放等级" id="feature-zoom" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title"></label>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-primary btn-lg">提交关联</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--查看数据-->
                                <div class="container-fluid showTreeData form-hidden">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <h3 class="big-title">要素信息</h3>
                                            </div>
                                        </div>
                                        <!--1.1要素名称-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">要素名称:</label>
                                                <div class="col-sm-3">
                                                    <span class="little-title" id="name"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--1.2要素类型-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">要素类型:</label>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="level1">
                                                        <option value="none">请选择</option>
                                                        <option value="feature-point">点要素</option>
                                                        <option value="feature-line">线要素</option>
                                                        <option value="feature-polygon">面要素</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control" id="level2">
                                                        <option value="">请选择</option>
                                                        <option value="">建筑</option>
                                                        <option value="">设备</option>
                                                        <option value="">道路</option>
                                                        <option value="">轨迹</option>
                                                        <option value="">地图</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <!--1.6坐标和缩放-->
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">坐标信息:</label>
                                                <div class="col-sm-3">
                                                    <span class="little-title" id="coors">90</span>
                                                </div>
                                                <div class="col-sm-3">
                                                    <span class="little-title" id="zoom">90</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<section style="display: none">
    <div id="indoor">
        <div class="container-fluid editTreeData">
            <div class="row">
                <!--1.1楼层信息-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-4 little-title">楼层信息:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="起始楼层" id="indoor-start">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="终止总数" id="indoor-total">
                        </div>
                    </div>
                </div>

                <!--1.2导入楼层地图-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4 col-sm-offset-8">
                            <a href="#" class="black-a" id="export-building"><i class="fa fa-hand-o-up"></i>添加楼层信息</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10 col-sm-offset-1">
                    <table class="table table-bordered table-striped" id="indoor-table">
                        <thead>
                            <tr>
                                <th>楼层号</th>
                                <th>楼层名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</section>
</body>
</html>