<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>分类配置</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">

    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <!--本页-->
    <link rel="stylesheet" href="../css/category.css">
    <link rel="stylesheet" href="../../../common/lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="../../../common/lib/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../common/lib/leaflet/lib/draw/Leaflet.Draw.css">

    <script src="../../common/libs/require.js" defer async="true" data-main="../js/feature_category"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content feature">
            <div class="feature-center feature-border">
                <div class="container-fluid">
                    <ul id="featureTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#management" data-toggle="tab">要素分类管理</a>
                        </li>
                        <!--<li><a href="#setting" data-toggle="tab">要素分类配置</a></li>-->
                    </ul>
                    <div class="tab-content pad-top-10">
                        <!--要素分类管理-->
                        <div class="tab-pane fade in active" id="management">
                            <div class="left feature-border">
                                <div class="feature-border">
                                    <a id="add" class="pad-left-5" href="#" title="增加" onclick="return false;"><i class="fa fa-plus-circle"></i>增加</a>
                                    <a id="edit" href="#" title="编辑" onclick="return false;"><i class="fa fa-edit"></i>编辑</a>
                                    <a id="remove" href="#" title="删除" onclick="return false;"><i class="fa fa-remove"></i>删除</a>
                                </div>
                                <ul id="treeDemo" class="ztree"></ul>
                            </div>
                            <div class="right feature-border">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <h3 class="big-title">分类管理</h3>
                                            </div>
                                        </div>
                                        <div class="form-group form-hidden" id="name">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">分类名称:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" readonly  placeholder="分类名称" id="category-name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-hidden" id="e-name">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">分类名称:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control"   placeholder="分类名称" id="e-category-name">
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group form-hidden" id="e-icon">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">图片:</label>
                                                <div class="col-sm-3">
                                                    <input type="file" class="form-control" placeholder="图标">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-hidden" id="icon-preview">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">图标预览:</label>
                                                <div class="col-sm-3">
                                                    <img src="../img/marker-gold.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-hidden" id="style">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">样式设定:</label>
                                                <div class="col-sm-3">
                                                    <input type="color" class="form-control" placeholder="颜色选择" id="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-hidden" id="style-preview">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">样式预览:</label>
                                                <div class="col-sm-3">
                                                    <img src="../img/marker-gold.png" alt="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-hidden" id="contain-feature">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title">包含要素:</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-hidden" id="feature-edit">
                                            <div class="col-sm-12">
                                                <label class="col-sm-2 col-sm-offset-2 little-title"></label>
                                                <div class="col-sm-3">
                                                    <button class="btn btn-primary">确认修改</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--要素分类配置-->
                        <!--<div class="tab-pane fade" id="setting">-->

                        <!--</div>-->
                    </div>
                </div>
            </div>

            <!--<div class="feature-center feature-border">-->

            <!--</div>-->
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>