<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
</head>
<body>
<div class="main-content">

</div>
<script src="../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../common/libs/bootstrap/js/bootstrap-table.js"></script>
<script src="../../common/libs/bootstrap/js/bootstrap-table-zh-CN.js"></script>
</body>
</html>