<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../common/libs/bootstrap/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-table.css">
</head>
<body>
<div class="main-content">
    <div class="head">
        <div class="head-left" style="width: 380px">
            <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">生成平台接入序列</span></a>
            <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">启用</span></a>
            <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">禁用</span></a>
        </div>
    </div>
    <table data-toggle="table">
        <thead>
        <tr>
            <th></th>
            <th>序号</th>
            <th>操作ID</th>
            <th>密钥</th>
            <th>状态</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>1</td>
            <td>3f08dd53</td>
            <td>3f08dd533f08dd533f08dd53</td>
            <td>已启用</td>
            <td>无</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="../../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../../common/libs/bootstrap/js/bootstrap-treeview.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table-zh-CN.js"></script>
</body>
</html>