<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/index"></script>
    <title>设备导航</title>
</head>
<body>
<div class="wrapper">
    <div id="head"></div>
    <div class="contentpage">
        <div class="content">
            <ul class="dv-menu">
                <li>
                    <a href="#">
                        <span class="dv-icon">C</span>
                        <div class="dv-content">
                            <h2 class="dv-main">组织机构管理</h2>
                            <h3 class="dv-sub">添加管理设备的组织或管理域</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="dv-icon">&#178</span>
                        <div class="dv-content">
                            <h2 class="dv-main">平台设备</h2>
                            <h3 class="dv-sub">服务器等平台设备管理</h3>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="mainDevice.html">
                        <span class="dv-icon">&#185</span>
                        <div class="dv-content">
                            <h2 class="dv-main">硬件设备</h2>
                            <h3 class="dv-sub">NVR、DVR、报警控制器等编码设备管理</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>