<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>区域管理</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" type="text/css"
          href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" type="text/css" href="../css/domain.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/domain"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-left">
                <div class="head head-tree">
                    <div class="head-left-tree">
                        <span>管理域</span>
                    </div>
                </div>
                <ul id="domaintree" class="ztree"></ul>
            </div>
            <div class="content-panel panel-opera">
                <a id="addDomain" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-plus"></span>添加管理域
                </a>
                <a id="addOrg" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-plus"></span>分配组织
                </a>
            </div>
            <div class="content-panel panel-table">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="domain_table"></table>
                </div>
            </div>
        </div>
    </div>
    <!--添加管理域-->
    <div id="add_Domain" style="display: none">
        <form id="domainForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label"><i class="required">*</i>域名称：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="domainName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">上级域：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input type="text" class="form-control" name="parentDoamin" readonly>
                    <input type="hidden" name="parentDoaminCode">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name="domainRemark" cols="40" rows="2"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
    <!--组织树-->
    <div id="assign_org" style="display: none">
        <ul id="orgTree" class="ztree"></ul>
        <div class="tab-footer">
            <button id="menuAuthSub" type="button" class="btn btn-primary">完成</button>
            <button type="button" class="btn btn-default btn-cancel">取消</button>
        </div>
    </div>
    <!--区域树-->
    <ul id="areatree" class="ztree" style="display: none;"></ul>
</div>
</div>
</body>
</html>