<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../css/deviceinfo.css">
    <link rel="stylesheet" href="../../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../../index/css/frame.css">
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="sui_nav" class="sui-nav horizontal">
        <div class="sui-nav-wrapper nav-border nav-line">
            <div class="pull-left nav-header">
                <img src="../../../../common/img/logo.png" alt="华南光电">
                智能可视化监管系统
            </div>
            <ul>
                <li><a class="" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
                <li><a class="" href="#"><span class="glyphicon glyphicon-fire"></span>&nbsp;一张图</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-plane"></span>驾驶舱</a>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span> editor</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> pencil</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-saved"></span> Level23</a>
                            <span class="indicator">&gt;</span>
                            <ul>
                                <li><a href="#">Level31</a></li>
                                <li><a href="#">Level32</a></li>
                                <li><a href="#">Level33</a>
                                    <ul>
                                        <li><a href="#">Level331</a></li>
                                        <li><a href="#">333 is hide</a></li>
                                        <li class="hide-in-horizontal"><a href="#">Level333</a></li>
                                        <li><a href="#">Level334</a></li>
                                    </ul>
                                    <span class="indicator">&gt;</span>
                                </li>
                                <li><a href="#">Level34</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-save"></span> Level24</a></li>
                    </ul>
                </li>

            </ul>

            <ul class="pull-right">
                <li>
                    <a class="glyphicon glyphicon-home panel-home"></a>
                    <!--<div class="navpanel">
                        <div class="row" style="height: 100%">
                            <div class="col-md-3 funcMenu" style="background-color: #90B4E7"><i class="fa fa-user fa-2x"></i><p>用户管理</p></div>
                            <div class="col-md-3 funcMenu" style="background-color: #acb0cc"><i class="fa fa-tasks fa-2x"></i><p>设备管理</p></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                            <div class="col-md-3 funcMenu"></div>
                        </div>
                    </div>-->
                </li>
                <li><a class="glyphicon glyphicon-user">&nbsp;关于</a>
                    <ul>
                        <li><a>Right</a></li>
                        <li><a>Right</a>
                            <ul>
                                <li><a>Right</a></li>
                                <li><a>Right</a></li>
                                <li><a>Right</a></li>
                            </ul>
                        </li>
                        <li><a>Others</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--侧边栏-->
    <div class="side-left">
        <nav class="navbar sidebar" data-sidenav>
            <ul class="side-menu menu">
                <li>
                    <a class="menu-elem" href="">
                        <i class="fa fa-user-o"></i>
                        <span>用户管理</span>
                        <div class="edit-menu"><i class="fa fa-cog"></i></div>
                    </a>
                </li>
            </ul>
            <div class="add_menu">
                <p class="side-collapse"><a id="hideSide" href="#"><i class="fa fa-angle-left"
                                                                      style="font-size: 25px"></i></a></p>
                <ul class="config-menu">
                    <li>
                        <a id="addMenu" href="javascript:;">
                            <i class="fa fa-plus-circle"></i>
                            <span>添加菜单</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="second-menu-list">
            <div class="second-menu">
                <ul class="menu">
                    <li>
                        <a class="menu-elem" href="#">
                            <i class="fa fa-address-book"></i>
                            <span>角色管理</span>
                            <div class="edit-menu"><i class="fa fa-cog"></i></div>
                        </a>
                    </li>
                    <li>
                        <a class="menu-elem" href="../../user/view/usermanage.html">
                            <i class="fa fa-user-o"></i>
                            <span>用户管理</span>
                            <div class="edit-menu"><i class="fa fa-cog"></i></div>
                        </a>
                    </li>
                    <li>
                        <a class="menu-elem" href="#">
                            <i class="fa fa-cloud"></i>
                            <span>域管理</span>
                            <div class="edit-menu"><i class="fa fa-cog"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="second-menu">
                <ul class="menu">
                    <li>
                        <a href="">
                            <i class="fa fa-cogs"></i>
                            <span>中心管理2</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-cogs"></i>
                            <span>中心管理2</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-cogs"></i>
                            <span>中心管理2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--主体内容-->
    <div class="contentpage">
        <button type="button" class="hambuger is-closed">
            <span class="ham-top"></span>
            <span class="ham-bottom"></span>
        </button>
        <div class="content">
            <div class="content-panel" style="min-height: calc(100vh - 110px)">
                <div class="row">
                    <div class="col-md-2">
                        <div class="slimscrollleft">
                            <div id="device_tree"></div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="head">
                            <div class="head-left" style="width: 100%">
                                <a href="javascript:;" id="add_device"><span class="glyphicon glyphicon-plus"
                                                                                    aria-hidden="true">添加</span></a>
                                <a href="#"><span class="glyphicon glyphicon-download-alt"
                                                  aria-hidden="true">下载模版</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down"
                                                  aria-hidden="true">导入</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">导出</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">单条添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true">发布到GB28181</span></a>
                            </div>
                        </div>
                        <div style="margin: 10px 0px">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>设备名称</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>IP地址</label>
                                    <input type="text" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label>生产商</label>
                                    <select class="form-control">
                                        <option>请选择</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary">查询</button>
                                <button class="btn btn-default">重置</button>
                            </form>
                        </div>
                        <!--<table id="device_table" data-height="655">
                            <thead>
                            <tr>
                                <th data-checkbox="true"></th>
                                <th data-field="id" data-align="center" data-visible="false">编码设备序号</th>
                                <th data-field="deviceName" data-align="center">设备名称</th>
                                <th data-field="devTypeName" data-align="center">设备类型</th>
                                <th data-field="deviceAddress" data-align="center">安装地址</th>
                                <th data-field="deviceOnlineStatus" data-align="center">在线状态</th>
                                <th data-field="deviceIp" data-align="center">设备IP地址</th>
                                <th data-field="amgPort" data-align="center">拉流服务端口</th>
                                <th data-field="amgProto" data-align="center">拉流协议</th>
                                <th data-field="adgPort" data-align="center">运维端口</th>
                                <th data-field="adgProto" data-align="center">运维设备协议</th>
                                <th data-field="deviceChaNum" data-align="center">设备通道数</th>
                                <th data-field="deviceUser" data-align="center">设备登录用户名</th>
                                <th data-field="modelIdentity" data-align="center">设备型号</th>
                                <th data-field="manuIdentity" data-align="center">设备厂商</th>
                            </tr>
                            </thead>
                        </table>-->
                        <table id="device_table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加设备弹出层-->
<form id="add_dev_form" class="form-horizontal" style="display: none">
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备名称</label>
        <div class="col-sm-7">
            <input name="cDeviceName" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备信息安装地址</label>
        <div class="col-sm-7">
            <input name="cDeviceAddress" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备IP地址</label>
        <div class="col-sm-7">
            <input name="cDeviceIp" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>拉流服务端口</label>
        <div class="col-sm-7">
            <input name="cAmgPort" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>拉流协议</label>
        <div class="col-sm-7">
            <select name="cAmgProto" class="form-control">
                <option>DAHUA</option>
                <option>HIKVISION</option>
                <option>RTSP</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>运维端口</label>
        <div class="col-sm-7">
            <input name="cAdgPort" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>运维设备协议</label>
        <div class="col-sm-7">
            <select name="cAdgProto" class="form-control">
                <option>DAHUA</option>
                <option>HIKVISION</option>
                <option>RTSP</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>视频通道数</label>
        <div class="col-sm-7">
            <select name="iDeviceChaNum" class="form-control">
                <option>1</option>
                <option>4</option>
                <option>8</option>
                <option>16</option>
                <option>32</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备登录用户名</label>
        <div class="col-sm-7">
            <input name="cDeviceUser" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备登录密码</label>
        <div class="col-sm-7">
            <input name="cDevicePwd" type="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>确认登录密码</label>
        <div class="col-sm-7">
            <input name="re_cDevicePwd" type="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备型号</label>
        <div class="col-sm-7">
            <select name="cModelId" class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"><i class="required">*</i>设备厂商</label>
        <div class="col-sm-7">
            <select name="cManuId" class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-group" style="padding-left: 210px">
        <button id="doAdd" type="submit" class="btn btn-info" style="margin-right: 20px">提交</button>
        <button id="doCancel" type="button" class="btn btn-default">取消</button>
    </div>
</form>
<script src="../../../common/libs/require.js" data-main="../js/device.js"></script>
</body>
</html>