<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/person.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/person"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content row">
            <div class="content-panel col-md-12">
                <div class="head">
                    <div class="head-left" style="width: 480px">
                        <a id="addPerson" href="javascript:;"><span class="glyphicon glyphicon-plus"
                                                                    aria-hidden="true">添加</span></a>
                        <a id="movePerson" href="javascript:;"><span class="glyphicon glyphicon-export" aria-hidden="true">移至</span></a>
                        <a href="javascript:;"><span class="glyphicon glyphicon-log-in"
                                                     aria-hidden="true">导入人员</span></a>
                        <a href="javascript:;"><span class="glyphicon glyphicon-log-out" aria-hidden="true">导出人员</span></a>
                    </div>
                    <!--<div class="head-right" style="width: 400px">
                        <form role="form" style="width: 300px;display: inline-block">
                            <input type="text" class="form-control" placeholder="请输入人员姓名"
                                   style="width: 230px;display: inline-block">
                            <button type="button" class="btn btn-default">搜索</button>
                        </form>
                    </div>-->
                </div>
                <table id="person_table"></table>
            </div>
        </div>
    </div>
</div>
<!--添加人员弹出层-->
<div class="add_person" style="display: none">
    <ul id="per_tab" class="nav nav-tabs">
        <li class="active">
            <a href="#base" style="color: black" data-toggle="tab">
                基本信息
            </a>
        </li>
        <li><a href="#detail" style="color: black" data-toggle="tab">
            详细信息
        </a>
        </li>
    </ul>
    <form id="personForm" class="form-horizontal">
        <div class="tab-content">
            <div class="tab-pane tab-form fade in active" id="base">
                <div class="tab-main row" style="margin: 0px">
                    <div class="col-md-7">
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label"><i class="required">*</i>人员编号：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <input name="pNo" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label"><i class="required">*</i>姓名：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <input name="pName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label"><i class="required">*</i>部门：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <select name="pDept" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">性别：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <select name="sex" class="form-control">
                                    <option value="0">男</option>
                                    <option value="1">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">证件类型：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <select name="cardType" class="form-control">
                                    <option value="0">身份证</option>
                                    <option value="1">员工证</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">证件号码：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <input name="papersNumber" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">出生日期：</label>
                            <div class="input-group  date form_datetime col-sm-8" style="padding: 0px">
                                <input type="text" name="dataBirth" class="form-control" readonly>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">拼音代码：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <input name="pinyinCode" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">联系电话：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <input name="phone" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-item form-group-sm">
                            <label class="col-sm-4 control-label">联系地址：</label>
                            <div class="col-sm-8" style="padding: 0px">
                                <textarea name="constactAddress" cols="35" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="profile">
                            <img id="showImg" width="190px" height="220px" src=""/>
                        </div>
                        <div class="btn-img">
                            <div class="btn-group-vertical">
                                <button id="uploadImg" type="button" class="btn btn-primary" style="width: 190px;margin-bottom: 20px">上传图片</button>
                                <input type="hidden" name="picture">
                                <input type="file" style="display: none">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-footer">
                    <button type="button" class="btn btn-danger btn-next">下一步</button>
                    <button type="button" class="btn btn-default btn-cancel">取消</button>
                </div>
            </div>
            <div class="tab-pane tab-form fade" id="detail">
                <div class="tab-main">
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">英文名：</label>
                        <div class="col-sm-6">
                            <input name="englishName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-6">
                            <input name="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">到职日期：</label>
                        <div class="col-sm-6">
                            <input name="takeofficeDate" type="text" class="form-control" readonly>
                            <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">离职日期：</label>
                        <div class="col-sm-6">
                            <input name="departureDate" type="text" class="form-control" readonly>
                            <span class="input-group-addon"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">学历：</label>
                        <div class="col-sm-6">
                            <select name="diploma" class="form-control">
                                <option>小学</option>
                                <option>初中</option>
                                <option>高中</option>
                                <option>本科</option>
                                <option>研究生</option>
                                <option>博士</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">民族：</label>
                        <div class="col-sm-6">
                            <input name="nation" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-6">
                            <input name="userName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">密码：</label>
                        <div class="col-sm-6">
                            <input name="usePwd" type="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">备注：</label>
                        <div class="col-sm-6">
                            <textarea name="remark" cols="45" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-footer">
                    <button type="button" class="btn btn-danger">完成</button>
                    <button type="button" class="btn btn-default btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--迁移人员弹出层-->
<div class="changeDept" style="display: none">
    <form class="form-horizontal">
        <div class="form-item form-group-sm" style="margin: 30px">
            <label class="col-sm-4 control-label">部门：</label>
            <div class="col-sm-6" style="padding: 0px">
                <select class="form-control">
                    <option>研发中心</option>
                    <option>测试中心</option>
                </select>
            </div>
        </div>
        <div class="tab-footer">
            <button type="button" class="btn btn-danger">完成</button>
            <button type="button" class="btn btn-default btn-cancel">取消</button>
        </div>
    </form>
</div>
</body>
</html>