.content-panel{
    top: 0px;
}
.panel-opera{
    left: 0px;
    padding-left: 20px;
}
.panel-main{
    width: 100%;
    height: 100%;
    top: 60px;
}

.tab-left dt>i{
    display: inline-block;
    width: 80%;
    height: 1px;
    background-color: lightgrey;
}
.tab-left dt{
    margin-bottom: 10px;
}
.tab-left dd{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.detailIcon{
    position: absolute;
    right: 15px;
    top: 50%;
    width: 35px;
    height:82px;
    background-color: grey;
    padding: 0px 10px;
    z-index: 1003;
    opacity: 0.5;
    color: white;
}

