<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../css/org.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/org"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content row">
            <div class="content-panel col-md-2" style="margin-right: 50px">
                <div class="head head-tree">
                    <div class="head-left-tree">
                        <span style="margin-right: 15px">管理域</span>
                        <div class="opera-group">
                            <a href="javascript:;"><i class="fa fa-map"></i></a>
                            <a href="javascript:;"><i class="fa fa-institution"></i></a>
                            <a class="remove_ugroup" href="javascript:;"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                </div>
                <form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="区域或组织名称"
                                   style="display: inline-block">
                        </div>
                    </div>
                </form>
                <div id="tree"></div>
            </div>
            <div class="content-panel col-md-9">
                <div class="head">
                    <div class="head-left-tree">
                        <span>详细信息</span>
                    </div>
                </div>
                <form id="alt-org" class="form-horizontal" style="padding-left: 210px">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">中心名称:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">用途:</label>
                        <div class="col-sm-10">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">中心编号:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="code" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="remark"
                                      style="width: 340px;height: 150px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" style="width: 120px">保存</button>
                        </div>
                    </div>
                </form>
                <form id="add-org" class="form-horizontal" style="padding-left: 210px;display: none">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">中心名称:</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注:</label>
                        <div class="col-sm-3">
                            <textarea type="text" class="form-control"
                                      style="width: 340px;height: 150px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" style="width: 120px">保存</button>
                            <button type="submit" class="btn btn-default" style="width: 120px">取消</button>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>