<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/frame.css">
    <link rel="stylesheet" type="text/css" href="../libs/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--侧边栏-->
<div class="side-left">
    <nav class="navbar sidebar" data-sidenav>
        <ul class="side-menu menu">
            <li>
                <a class="menu-elem" href="">
                    <i class="fa fa-user-o"></i>
                    <span>用户管理</span>
                    <div class="edit-menu"><i class="fa fa-cog"></i></div>
                </a>
            </li>
        </ul>
        <div class="add_menu">
            <p class="side-collapse"><a id="hideSide" href="#"><i class="fa fa-angle-left"
                                                                  style="font-size: 25px"></i></a></p>
            <ul class="config-menu">
                <li>
                    <a id="addMenu" href="javascript:;">
                        <i class="fa fa-plus-circle"></i>
                        <span>添加菜单</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="second-menu-list">
        <div class="second-menu">
            <ul class="menu">
                <li>
                    <a class="menu-elem" href="#">
                        <i class="fa fa-address-book"></i>
                        <span>角色管理</span>
                        <div class="edit-menu"><i class="fa fa-cog"></i></div>
                    </a>
                </li>
                <li>
                    <a class="menu-elem" href="../../user/view/usermanage.html">
                        <i class="fa fa-user-o"></i>
                        <span>用户管理</span>
                        <div class="edit-menu"><i class="fa fa-cog"></i></div>
                    </a>
                </li>
                <li>
                    <a class="menu-elem" href="#">
                        <i class="fa fa-cloud"></i>
                        <span>域管理</span>
                        <div class="edit-menu"><i class="fa fa-cog"></i></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="second-menu">
            <ul class="menu">
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-cogs"></i>
                        <span>中心管理2</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<button type="button" class="hambuger is-closed">
    <span class="ham-top"></span>
    <span class="ham-bottom"></span>
</button>
</body>
</html>