<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-table.css">
</head>
<body>
    <div class="main-content">
        <div class="head">
            <div class="head-left" style="width: 280px">
                <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">普通角色</span></a>
                <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">通用角色</span></a>
                <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span></a>
            </div>
            <div class="head-right">
                <form role="form">
                    <input type="text" class="form-control" placeholder="搜索角色名"
                           style="width: 230px;display: inline-block">
                    <button type="button" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
        <table data-toggle="table">
            <thead>
            <tr>
                <th></th>
                <th>序号</th>
                <th>角色名称</th>
                <th>角色类型</th>
                <th>创建用户</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>权限配置</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td>1</td>
                <td><a href="#">通用角色</a></td>
                <td>通用角色</td>
                <td>admin</td>
                <td>2018-08-01</td>
                <td>2018-08-01</td>
                <td><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></td>
                <td>通用角色</td>
            </tr>
            </tbody>
        </table>
    </div>
<script src="../../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-treeview.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-table-zh-CN.js"></script>
</body>
</html>