<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-treeview/css/bootstrap-treeview.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../css/deviceinfo.css">
    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <script src="../../common/libs/require.js" async defer="true" data-main="../js/device"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-left">

                            <div id="device_tree"></div>

                </div>
            <div class="content-panel panel-right">
                <div class="head">
                    <div class="head-left" style="width: 100%">
                                <a href="javascript:;" id="add_device"><span class="glyphicon glyphicon-plus"
                                                                                    aria-hidden="true">添加</span></a>
                                <a href="#"><span class="glyphicon glyphicon-download-alt"
                                                  aria-hidden="true">下载模版</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-down"
                                                  aria-hidden="true">导入</span></a>
                                <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true">导出</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-floppy-save"
                                                  aria-hidden="true">单条添加到媒体源</span></a>
                                <a href="#"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true">发布到GB28181</span></a>
                            </div>
                </div>
                <div style="margin: 10px 0px">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>设备名称</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>IP地址</label>
                            <input type="text" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>生产商</label>
                            <select class="form-control">
                                <option>请选择</option>
                            </select>
                        </div>
                        <button class="btn btn-primary">查询</button>
                        <button class="btn btn-default">重置</button>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="device_table" class="table text-nowrap"></table>
                </div>
                <div class="fixed-table-pagination">
                    <div class="pull-left">
                        <span class="pagination-info"></span>
                        <span class="page-list">
                            <span class="btn-group dropup">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="page-size">10</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="menuitem" class="active"><a href="#">10</a></li>
                                    <li role="menuitem"><a href="#">20</a></li>
                                    <li role="menuitem"><a href="#">30</a></li>
                                </ul>
                            </span>
                            条每页
                        </span>
                    </div>
                    <div class="pull-right pagination">
                        <ul class="pagination">
                            <li class="page-item page-pre"><a class="page-link" href="#">‹</a></li>
                            <li class="page-item pNo active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item page-next"><a class="page-link" href="#">›</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加设备弹出层-->
<form id="add_dev_form" class="form-horizontal" style="display: none">
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备名称</label>
        <div class="col-sm-6">
            <input name="cDeviceName" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备信息安装地址</label>
        <div class="col-sm-6">
            <input name="cDeviceAddress" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备IP地址</label>
        <div class="col-sm-6">
            <input name="cDeviceIp" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>拉流服务端口</label>
        <div class="col-sm-6">
            <input name="cAmgPort" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>拉流协议</label>
        <div class="col-sm-6">
            <select name="cAmgProto" class="form-control">
                <option>DAHUA</option>
                <option>HIKVISION</option>
                <option>RTSP</option>
            </select>
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>运维端口</label>
        <div class="col-sm-6">
            <input name="cAdgPort" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>运维设备协议</label>
        <div class="col-sm-6">
            <select name="cAdgProto" class="form-control">
                <option>DAHUA</option>
                <option>HIKVISION</option>
                <option>RTSP</option>
            </select>
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>视频通道数</label>
        <div class="col-sm-6">
            <select name="iDeviceChaNum" class="form-control">
                <option>1</option>
                <option>4</option>
                <option>8</option>
                <option>16</option>
                <option>32</option>
            </select>
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备登录用户名</label>
        <div class="col-sm-6">
            <input name="cDeviceUser" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备登录密码</label>
        <div class="col-sm-6">
            <input name="cDevicePwd" type="password" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>确认登录密码</label>
        <div class="col-sm-6">
            <input name="re_cDevicePwd" type="password" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备型号</label>
        <div class="col-sm-6">
            <select name="cModelId" class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-3"><i class="required">*</i>设备厂商</label>
        <div class="col-sm-6">
            <select name="cManuId" class="form-control">
                <option>请选择</option>
            </select>
        </div>
    </div>
    <div class="tab-footer">
        <button type="submit" class="btn btn-danger btn-next">完成</button>
        <button type="button" class="btn btn-default">取消</button>
    </div>
</form>
</body>
</html>