<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/libs/bootstrap/css/bootstrap-treeview.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons' type='text/css'>
    <link rel="stylesheet" href="../../../index/css/sidenav.css">
    <link rel="stylesheet" href="../../../index/css/iframe.css">
    <link rel="stylesheet" href="../css/org.css">
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <nav class="navbar navbar-default topbar" style="background-color: #2f353f;border: 0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#head-navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="head-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../../../index/img/home.png" width="25px" height="25px">
                        </a>
                        <div class="dropdown-menu">
                            <!--TODO 下拉信息-->
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/people.png" width="25px" height="25px">
                            <b>用户信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/help.png" width="25px" height="25px">
                            <b>用户文档</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/msg.png" width="25px" height="25px">
                            <b>软件信息</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/iphone.png" width="25px" height="25px">
                            <b>移动应用</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../../../index/img/download.png" width="25px" height="25px">
                            <b>下载中心</b>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span style="font-weight: bold;font-size: 17px;color: white">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--侧边栏-->
    <nav class="navbar navbar-inverse sidebar" data-sidenav data-sidenav-toggle="#sidenav-toggle">
        <div class="slimscrollleft">
            <ul class="sidenav-menu">
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                    <span class="sidenav-link-icon">
                        <i><img src="../../../index/img/s_base.png" width="20px" height="20px"></i>
                    </span>
                        <span class="sidenav-link-title">
                            基础应用
                        </span>
                        <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_down</i>
                        </span>
                        <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                        <i class="material-icons">arrow_drop_up</i>
	                    </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li>
                            <a href="javascript:;">
                                组织管理
                            </a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                资源管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
                                </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="../../resource/view/resmanagement.html">统一资源入口</a>
                                </li>
                                <li><a href="../../server/view/servermanage.html">服务器管理</a></li>
                                <li><a href="../../resconnect/view/resconnect.html">资源关联配置</a>
                                </li>
                                <li><a href="../../sysconfig/view/resmanagement.html">组织资源管理</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                用户管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="../../user/view/usermanage.html">用户管理</a>
                                </li>
                                <li><a href="../../role/view/rolemanage.html">角色管理</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="../../person/view/personmanage.html">人员管理</a>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                日志管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="../../log/config-log/view/configlog.html">配置日志</a>
                                </li>
                                <li><a href="../../log/control-log/view/">控制日志</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                系统管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li>
                                    <a href="#" data-sidenav-dropdown-toggle>系统配置
                                    <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                    <i class="material-icons">arrow_drop_down</i>
                                    </span>
                                    <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                    <i class="material-icons">arrow_drop_up</i>
                                    </span>
                                    </a>
                                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                        <li><a href="../../sysconfig/domain/view/domain.html">网域配置</a>
                                        </li>
                                        <li><a href="#">系统邮箱</a></li>
                                        <li><a href="#">短信设备配置</a></li>
                                        <li><a href="#">数据库配置</a></li>
                                        <li><a href="#">子系统配置</a></li>
                                        <li><a href="#">Logo自定义</a></li>
                                        <li><a href="../../sysconfig/apiconfig/view/apiconfig.html">Api第三方接入配置</a>
                                        </li>
                                        <li><a href="#">微信公众号配置</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:;">用户管理</a></li>
                                <li><a href="../../xtgl/hn_sys_deviceType/views/hn_sys_deviceType.html">设备类型</a></li>
                                <li><a href="../../xtgl/hn_med_manufacturer/views/hn_med_manufacturer.html">设备厂商</a></li>
                                <li><a href="../../xtgl/hn_sys_deviceType/views/hn_sys_deviceType.html">设备型号</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" data-sidenav-dropdown-toggle>
                                媒体源管理
                                <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                                <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                                <i class="material-icons">arrow_drop_up</i>
	                            </span>
                            </a>
                            <ul class="sidenav-dropdown" data-sidenav-dropdown>
                                <li><a href="../../mtygl/hn_med_deviceInfo/views/hn_med_deviceInfo.html">设备信息</a>
                                </li>
                                <li><a href="#">媒体源信息</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-sidenav-dropdown-toggle>
                        <span class="sidenav-link-icon">
                            <i><img src="../../../index/img/s_event.png" width="20px" height="20px"></i>
                        </span>
                        <span class="sidenav-link-title">
                            事件中心
                            <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_down</i>
                            </span>
                            <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
	                            <i class="material-icons">arrow_drop_up</i>
	                        </span>
                        </span>
                    </a>
                    <ul class="sidenav-dropdown" data-sidenav-dropdown>
                        <li><a href="#">基础配置</a></li>
                        <li><a href="#">预案配置</a></li>
                        <li><a href="#">事件规则</a></li>
                        <li><a href="#">事件日志</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel">
                <div class="row">
                    <div class="col-md-3 main-left">
                        <div class="dropdown org-head">
                            <h3>默认控制中心</h3>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>默认控制中心</a>
                                </li>
                                <li><a href="#"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>门禁</a>
                                </li>
                            </ul>
                        </div>
                        <div class="opera-icon">
                            <a href="javascript:;" onclick="addOrg()"><img src="../img/add-center.png" width="25px"
                                                                           height="25px"
                                                                           title="添加控制中心"></a>
                            <a href="javascript:;"><img src="../img/add-area.png" width="25px" height="23px"
                                                        title="添加区域"></a>
                            <a href="javascript:;"><img src="../img/del.png" width="25px" height="25px"
                                                        title="删除区域或中心"></a>
                        </div>
                        <form role="form">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="区域或中心名称"
                                           style="display: inline-block">
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-default">搜索</button>
                                </div>
                            </div>
                        </form>
                        <div id="tree"></div>
                    </div>
                    <div class="col-md-9 main-right">
                        <div class="org-head">
                            <h3>详细信息</h3>
                        </div>
                        <form id="alt-org" class="form-horizontal" style="padding-left: 210px">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">中心名称:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="name" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">用途:</label>
                                <div class="col-sm-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="code" class="col-sm-2 control-label">中心编号:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="code" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-2 control-label">备注:</label>
                                <div class="col-sm-10">
                            <textarea type="text" class="form-control" id="remark"
                                      style="width: 340px;height: 150px"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" style="width: 120px">保存</button>
                                </div>
                            </div>
                        </form>
                        <form id="add-org" class="form-horizontal" style="padding-left: 210px;display: none">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">中心名称:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-2 control-label">备注:</label>
                                <div class="col-sm-3">
                            <textarea type="text" class="form-control"
                                      style="width: 340px;height: 150px"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary" style="width: 120px">保存</button>
                                    <button type="submit" class="btn btn-default" style="width: 120px">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../common/libs/jquery/jquery-1.11.3.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="../../../common/libs/bootstrap/js/bootstrap-treeview.js"></script>
<script src="../../../common/libs/jquery-slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../index/js/sidenav.js"></script>
<script src="../../../index/js/iframe.js"></script>
<script>
    /*侧边栏*/
    $('[data-sidenav]').sidenav()

    /*管理中心树*/
    function getTree() {
        var tree = [{
            text: '默认控制中心',
            nodes: [
                {
                    text: '动环'
                }, {
                    text: '门禁'
                }, {
                    text: '1期',
                    nodes: [{
                        text: '1期01'
                    }, {
                        text: '1期02'
                    }]
                }
            ]
        }]
        return tree;
    }

    $('#tree').treeview({
        showBorder: false,
        selectedBackColor: 'white',
        selectedColor: 'black',
        data: getTree()
    })

    function addOrg() {
        $('#alt-org').hide();
        $('#add-org').show();
    }
</script>
</body>
</html>