@charset "UTF-8";

.feature{
    height: calc(100vh - 70px);
}

/*阴影边框*/
.feature-border{
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 0 3px rgba(150,150,150,.5);
    -webkit-box-shadow: 0 0 3px rgba(150,150,150,.5);
}

.feature-center{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    overflow-y: auto;
}

.left{
    height: 800px;
    width: 20%;
    display: inline-block;
}
.right{
    height: 800px;
    width: 80%;
    float: right;
    display: inline-block;
}

.right-content{
    width: 100%;
    height: 100%;
    /*background-color: grey;*/
    display: none;
}

/*tab层内部的padding*/
.featureTabContent{
    padding-top: 15px;
}

.big-title{
    color: darkgray;
}

.little-title{
    text-align: right;
    line-height: 33px;
    font-size: 20px
}

.form-control{
    margin-bottom: 25px;
}

.tree-head{
    border-bottom: grey solid 1px;
}

.tree-head > a {
    line-height: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.tree-head > a:hover {
    color: #23527c;
    text-decoration: underline;
}

.tree-head > a:active {
    color: #23527c;
    text-decoration: underline;
}

.tree-head > a:focus{
    color: black!important;
    text-decoration: underline;
}


a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:active {
    color: #23527c;
    text-decoration: underline;
}

a:focus{
    color: black!important;
    text-decoration: underline;
}
