*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
.login-wrapper{
    position: relative;
    height: 100%;
}
.login-header{
    position: absolute;
    width: 100%;
    height: 60px;
}
.login-main{
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.form-wrap{
    position: relative;
    height: 100%;
    background-color: #1E9FFF;
}
.login-form{
    position: absolute;
    top: 200px;
    left: 1250px;
    width: 398px;
    height: 422px;
    padding: 0 50px;
    background-color: white;
}
.login-form-title{
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 30px;
    margin-bottom: 50px;
    color: #1E9FFF;
}
.input-wrap{
    margin-bottom: 30px;
}
.login-foot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
}
