<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" href="../css/role.css">
    <link rel="stylesheet" href="../../../common/lib/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/Role"></script>
</head>
<body>
<div class="wrapper">
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-opera-se">
                <a id="addRole" class="btn btn-primary"><span
                        class="glyphicon glyphicon-plus"></span>添加角色
                </a>
            </div>
            <div class="content-panel panel-main">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="role_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加角色弹窗-->
<form id="add_role" class="form-horizontal" style="display: none;padding: 10px 0px 0 0px;">
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>角色名称</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="name" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>角色描述</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="remark" type="text" class="form-control">
            <input name="res" type="reset" style="display:none;"/>
        </div>
    </div>
    <div class="tab-footer">
        <button type="submit" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</form>
<!--修改角色弹窗-->
<form id="edit_role" class="form-horizontal" style="display: none;padding: 10px 0px 0 0px;">
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>角色名称</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="editname" type="text" class="form-control">
        </div>
    </div>
    <div class="form-item form-group-sm">
        <label class="control-label col-sm-4"><i class="required">*</i>角色描述</label>
        <div class="col-sm-7" style="padding: 0px">
            <input name="editremark" type="text" class="form-control">
            <input name="res" type="reset" style="display:none;"/>
        </div>
    </div>
    <div class="tab-footer">
        <button type="submit" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</form>
<!--菜单权限配置弹窗-->
<div id="auth_menu" style="display: none;">
    <ul id="menuTree" class="ztree"></ul>
    <div class="tab-footer">
        <button id="menuAuthSub" type="button" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</div>
</body>
</html>