<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nav</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <style>
        body{
            background-color: #030829;
        }
    </style>
</head>
<body>
    <header class="header left">
            <div class="left nav">
                <ul>
                    <li><i class="fa fa-home white"></i><a href="../../index/views/index.html">系统主页</a> </li>
                    <li><i class="fa fa-table white"></i><a href="index.html">数据概览</a></li>
                    <li><i class="fa fa-video-camera white"></i><a href="video.html">视频监控</a> </li>
                    
                </ul>
            </div>
            <div class="header_center left">
                <h1><strong>智能可视化监管系统</strong></h1>
                <p class="color_font"><small>Intelligent visual monitoring system</small></p>
            </div>
            <div class="right nav text_right">
                <ul> 
                    <li><i class="fa fa-map white"></i><a href="map.html">地图界面</a> </li>
                    <li><i class="fa fa-etsy white"></i><a href="static.html">数据分析</a> </li>
                    <li><i class="fa fa-search white"></i><a href="device.html">设备查询</a> </li>
                </ul>
            </div>
    </header>
</body>
</html>