.container-fluid>div>div{
    height: 252px;
    margin-bottom: 30px;
}
.container-fluid>div>div div{
    height: 100%;
}
.container-fluid>div>div>div div:first-child{
    padding-top: 70px;
    padding-left: 70px;
}
.container-fluid>div>div>div div:first-child p{
    font-size: 18px;
    color: white;
    margin-top: 5px;
}