<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" href="../../common/css/buttons.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="../../../common/lib/bootstrap/libs/bootstrap-switch/css/bootstrap3/bootstrap-switch.css">
    <script type="text/javascript" src="../../common/js/md5.js"></script>
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/user"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-opera-se">
                <a id="addUser" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-plus"></span>添加用户
                </a>
                <a id="grantUg" class="button button-highlight button-small">
                    <span class="glyphicon glyphicon-royal"></span>分配用户组
                </a>
                <a id="reassign" class="button button-royal button-small"><span
                        class="glyphicon glyphicon-royal"></span>修改角色
                </a>
                <a id="altDomain" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-cloud"></span>修改管理域
                </a>
                <a id="status" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-cloud"></span>启用/禁用
                </a>
            </div>
            <div class="content-panel panel-main">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="user_table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--添加用户弹出层-->
<div id="add_user" style="display: none">
    <ul id="u_tab" class="nav nav-tabs">
        <li class="active">
            <a href="#tab-base-user" data-toggle="tab" style="color: black">
                基本信息
            </a>
        </li>
        <li>
            <a href="#tab-roles-user" data-toggle="tab" style="color: black">
                角色列表
            </a>
        </li>
    </ul>
    <form id="user" class="form-horizontal">
        <div class="tab-content">
            <div class="tab-pane tab-form fade in active" id="tab-base-user">
                <div class="tab-main">
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label"><i class="required">*</i>用户名：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="uname" type="text" class="form-control">
                        </div>
                        <span class="form-msg">3-14个字,请使用数字、字母、下划线组合</span>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label"><i class="required">*</i>密码：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="upwd" type="password" class="form-control">
                        </div>
                        <div class="col-md-4 progress-bar_wrap" style="padding: 20px 0 0 0">
                            <span class="progress-bar_item progress-bar_item-1"></span>
                            <span class="progress-bar_item progress-bar_item-2"></span>
                            <span class="progress-bar_item progress-bar_item-3"></span>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label" style="padding-left: 5px"><i
                                class="required">*</i>密码确认：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input type="password" name="repwd" data-bv-identical="true" data-bv-identical-field="upwd"
                                   data-bv-identical-message="两次输入密码不一致" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label" style="padding-left: 5px">管理范围：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <select name="domain" class="form-control">

                            </select>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label"><i class="required">*</i>姓名：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="username" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">性别：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <select name="gender" class="form-control">
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">Email：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="email" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">员工ID：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="employeeNo" type="text" class="form-control">
                            <input name="res" type="reset" style="display:none;"/>
                        </div>
                    </div>
                    <!--<div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">头像：</label>
                        <div class="col-sm-6" style="padding: 0px">
                            <input name="photo" type="file">
                        </div>
                    </div>-->
                    <div class="form-item form-group-sm">
                        <label class="col-sm-2 control-label">到期时间：</label>
                        <div class="input-group  date form_datetime col-sm-6" style="padding: 0px">
                            <input type="text" value="2050-12-31" name="expiredTime" class="form-control" readonly>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="tab-footer">
                    <button type="button" class="btn btn-primary btn-next">下一步</button>
                    <button type="button" class="btn btn-default btn-cancel">取消</button>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-roles-user">
                <div class="tab-main">
                    <table class="role_table"></table>
                </div>
                <div class="tab-footer">
                    <button type="submit" class="btn btn-primary">完成</button>
                    <button type="button" class="btn btn-default btn-cancel">取消</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--修改用户弹出层-->
<div id="edit_user_tap" style="display: none">
    <form id="editUser" class="form-horizontal">
        <div class="form-item form-group-sm">
            <label class="col-sm-2 control-label"><i class="required">*</i>姓名：</label>
            <div class="col-sm-6" style="padding: 0px">
                <input name="editName" type="text" class="form-control">
            </div>
        </div>
        <div class="form-item form-group-sm">
            <label class="col-sm-2 control-label">性别：</label>
            <div class="col-sm-6" style="padding: 0px">
                <select name="editGender" class="form-control">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="form-item form-group-sm">
            <label class="col-sm-2 control-label">Email：</label>
            <div class="col-sm-6" style="padding: 0px">
                <input name="editEmail" type="text" class="form-control">
            </div>
        </div>
        <div class="form-item form-group-sm">
            <label class="col-sm-2 control-label">员工ID：</label>
            <div class="col-sm-6" style="padding: 0px">
                <input name="editId" type="text" class="form-control">
                <input name="res" type="reset" style="display:none;"/>
            </div>
        </div>
        <div class="form-item form-group-sm">
            <label class="col-sm-2 control-label">到期时间：</label>
            <div class="input-group  date form_datetime col-sm-6" style="padding: 0px">
                <input type="text" name="editExpiredTime" class="form-control" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
        <div class="tab-footer">
            <button type="submit" class="btn btn-primary">完成</button>
            <button type="button" class="btn btn-default btn-cancel">取消</button>
        </div>
    </form>
</div>
<!--分配用户组弹出层-->
<div id="grant_ugroup" style="display: none">
    <div class="tab-main">
        <table id="ugTable" class="ugroup_table"></table>
    </div>
    <div class="tab-footer">
        <button id="grantUgSub" type="button" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</div>
<!--角色弹窗-->
<div id="role" style="display: none">
    <div class="tab-main">
        <table id="roles" class="role_table"></table>
    </div>
    <div class="tab-footer">
        <button id="ressignRoleSub" type="button" class="btn btn-primary">完成</button>
        <button type="button" class="btn btn-default btn-cancel">取消</button>
    </div>
</div>
<!--菜单图标展示弹窗-->
<div class="iconPanel" style="display: none">
    <ul>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bars fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bell fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
        <li class="icon"><a href="#"><i class="fa fa-bar-chart fa-2x"></i></a></li>
    </ul>
</div>
</body>
</html>