<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户组管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" href="../css/user.css">
    <link rel="stylesheet" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/usergroup"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-opera-se">
                <a id="addUgroup" class="btn btn-primary"><span
                        class="glyphicon glyphicon-plus"></span>添加用户组
                </a>
                <a id="reassign" class="btn btn-success"><span
                        class="glyphicon glyphicon-pencil"></span>修改角色
                </a>
            </div>
            <div class="content-panel panel-main">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="usergroup_table"></table>
                </div>
            </div>
        </div>
    </div>
    <!--添加用户组弹窗-->
    <div id="add_ugroup" style="display: none;padding: 10px 0px 0 0px;">
        <ul id="ugroup_tab" class="nav nav-tabs">
            <li class="active">
                <a href="#tab-base" data-toggle="tab" style="color: black">
                    基本信息
                </a>
            </li>
            <li>
                <a href="#tab-roles" data-toggle="tab" style="color: black">
                    配置角色
                </a>
            </li>
        </ul>
        <form id="ugroupForm" class="form-horizontal">
            <div class="tab-content">
                <div class="tab-pane tab-form fade in active" id="tab-base">
                    <div class="tab-main">
                        <div class="form-item form-group-sm">
                            <label class="col-sm-3 control-label"><i class="required">*</i>用户组姓名：</label>
                            <div class="col-sm-6" style="padding: 0px">
                                <input name="ugroupname" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-item form-group-sm">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-6" style="padding: 0px">
                                <textarea name="ugroupRem" rows="3" cols="44"></textarea>
                                <input name="res" type="reset" style="display:none;"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-footer">
                        <button type="button" class="btn btn-primary btn-next">下一步</button>
                        <button type="button" class="btn btn-default btn-cancel">取消</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-roles">
                    <div class="tab-main">
                        <table id="addUgRoleTable" class="role_table"></table>
                    </div>
                    <div class="tab-footer">
                        <button type="submit" class="btn btn-primary">完成</button>
                        <button type="button" class="btn btn-default btn-cancel">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--修改用户组弹窗-->
    <div id="edit_ugroup" style="display: none;padding: 10px 0px 0 0px;">
        <form id="editform" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label"><i class="required">*</i>用户组姓名：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="editugname" type="text" class="form-control">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name="editRemark" rows="3" cols="44"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
    <!--角色弹窗-->
    <div id="role" style="display: none">
        <div class="tab-main">
            <table id="roles" class="role_table"></table>
        </div>
        <div class="tab-footer">
            <button id="ressignRoleSub" type="button" class="btn btn-primary">完成</button>
            <button type="button" class="btn btn-default btn-cancel">取消</button>
        </div>
    </div>
</div>
</body>
</html>