.search-tool{
    height: 117px;
    width: 100%;
}
.form-horizontal .form-group{
    margin: 0;
}
.form-horizontal{
    padding-left: 50px;
}
.form-group{
    width: 320px;
    height: 50px;
    display: inline-block;
    margin-bottom: 20px;
}
.form-group label{
    width: 70px;
    text-align: right;
}
.form-control{
    display: inline-block;
    width: 220px;
}
.btn-fixed{
    position: absolute;
    left: 1380px;
    top: 0px;
}