<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字典管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../css/dict.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/dict"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-left">
                <div class="head head-tree">
                    <div class="head-left-tree">
                        <span>字典列表</span>
                    </div>
                </div>
                <ul id="dictTree" class="ztree"></ul>
            </div>
            <div class="content-panel panel-opera">
                <a id="addDict" class="btn btn-primary"><span
                        class="glyphicon glyphicon-plus"></span>添加字典
                </a>
            </div>
            <div class="content-panel panel-table">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="dict_table"></table>
                </div>
            </div>
        </div>
    </div>
    <!--添加字典弹窗-->
    <div id="add_Dict" style="display: none">
        <form id="addDictForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label"><i class="required">*</i>字典名称：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="dictName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label"><i class="required">*</i>字典编号：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="dictNo" class="form-control" type="text">
                </div>
                <span class="form-msg">字典编号不能重复</span>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label"><i class="required">*</i>上级字典：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="parentName" class="form-control" type="text" value="无">
                    <input type="hidden" name="parentCode" value="-1">
                </div>
                <span class="form-msg">点击字典树选择上级字典</span>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name=remark" cols="40" rows="2"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
    <!--修改字典弹窗-->
    <div id="edit_Dict" style="display: none">
        <form id="editDictForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label"><i class="required">*</i>字典名称：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="editDictName" class="form-control" type="text">
                    <input name="editDictNo" type="hidden">
                    <input name="parentCode" type="hidden">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name="editRemark" cols="40" rows="2"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>