<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备型号管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap/css/bootstrap-table.css">
    <link rel="stylesheet" href="../../common/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../common/libs/nav/css/nav.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <script src="../../common/libs/require.js" async defer="true" data-main="../js/deviceMode"></script>
</head>
<body>
<div class="wrapper">
<!--头部-->
<div id="head"></div>
<!--侧边栏-->
<div id="sidebar"></div>
<!--主体内容-->
<div class="contentpage">
    <div class="content">
        <div class="content-panel">
            <div class="head">
                <div class="head-left" style="width: 280px">
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">添加</span></a>
                    <a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true">修改</span></a>
                    <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span></a>
                </div>
            </div>
            <table id="deviceMode_table"></table>
        </div>
    </div>
</div>
</div>
</body>
</html>