<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门管理</title>
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/BootstrapTable/bootstrap-table.css">
    <link rel="stylesheet" href="../../../common/lib/bootstrap/libs/bootstrap-validator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../../common/component/head/css/head.css">
    <link rel="stylesheet" href="../../common/css/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="../../common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../sidebar/css/frame.css">
    <link rel="stylesheet" href="../css/dept.css">
    <link rel="stylesheet" href="../../common/css/normalize.css">
    <script src="../../common/libs/require.js" defer async="true" data-main="../js/dept"></script>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div id="head"></div>
    <!--侧边栏-->
    <div id="sidebar"></div>
    <!--主体内容-->
    <div class="contentpage">
        <div class="content">
            <div class="content-panel panel-left">
                <div class="head head-tree">
                    <div class="head-left-tree">
                        <span>部门树</span>
                    </div>
                </div>
                <!--<form role="form">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="区域或组织名称"
                                   style="display: inline-block">
                        </div>
                    </div>
                </form>-->
                <ul id="depttree" class="ztree"></ul>
            </div>
            <div class="content-panel panel-opera">
                <a id="addDept" class="button button-primary button-small"><span
                        class="glyphicon glyphicon-plus"></span>添加部门
                </a>
            </div>
            <div class="content-panel panel-table">
                <div class="table-responsive">
                    <table class="table text-nowrap" id="dept_table"></table>
                </div>
            </div>
        </div>
    </div>
    <!--添加部门弹出层-->
    <div class="add_dept" style="display: none">
        <form id="addDeptForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label"><i class="required">*</i>部门名称：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="deptName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">上级部门：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input type="text" class="form-control" name="parentDept" readonly>
                    <input type="hidden" name="parentDeptCode">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name="deptRemark" cols="40" rows="2"></textarea>
                    <input name="res" type="reset" style="display:none;"/>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
    <!--修改部门弹窗-->
    <div id="edit_dept" style="display: none">
        <form id="editDeptForm" class="form-horizontal">
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label"><i class="required">*</i>部门名称：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <input name="eidtDeptName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-item form-group-sm">
                <label class="col-sm-4 control-label">备注：</label>
                <div class="col-sm-6" style="padding: 0px">
                    <textarea name="eidtDeptRemark" cols="40" rows="2"></textarea>
                </div>
            </div>
            <div class="tab-footer">
                <button type="submit" class="btn btn-primary">完成</button>
                <button type="button" class="btn btn-default btn-cancel">取消</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>