<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Title</title>
    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" type="text/css" href="../../../common/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--头部
<div id="sui_nav" class="sui-nav horizontal">
    <div class="sui-nav-wrapper nav-border nav-line">
        <div class="pull-left111 nav-header">
            <img src="img/logo.png" alt="华南光电">
            智能可视化监管系统
        </div>
        <ul>
            <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-fire"></span>&nbsp;一张图</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-plane"></span>驾驶舱</a>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> editor</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> pencil</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-saved"></span> Level23</a>
                        <span class="indicator">&gt;</span>
                        <ul>
                            <li><a href="#">Level31</a></li>
                            <li><a href="#">Level32</a></li>
                            <li><a href="#">Level33</a>
                                <ul>
                                    <li><a href="#">Level331</a></li>
                                    <li><a href="#">333 is hide</a></li>
                                    <li class="hide-in-horizontal"><a href="#">Level333</a></li>
                                    <li><a href="#">Level334</a></li>
                                </ul>
                                <span class="indicator">&gt;</span>
                            </li>
                            <li><a href="#">Level34</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-save"></span> Level24</a></li>
                </ul>
            </li>

        </ul>
        <ul class="pull-right">
            <li>
                <a class="glyphicon glyphicon-home panel-home"></a>
                <div class="navpanel">
                    <div class="row" style="height: 100%">
                        <div class="col-md-3 funcMenu" style="background-color: #90B4E7"><i
                                class="fa fa-user fa-2x"></i><a href=""><p>用户管理</p></a></div>
                        <div class="col-md-3 funcMenu" style="background-color: #acb0cc"><i
                                class="fa fa-tasks fa-2x"></i><a href=""><p>设备管理</p></a></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                    </div>
                </div>
            </li>
            <li><a class="glyphicon glyphicon-user"></a>
                <ul>
                    <li><a href="javascript:;">个人信息</a></li>
                    <li><a href="javascript:;">修改密码</a></li>
                    <li><a id="loginout" href="javascript:;">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>-->
<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="华南光电"/></a>
        <span class="navbar-text" style="color: #fff">智能可视化监管系统</span>
        <ul class="navbar-main">
            <li><a href="'+topBar.url+'/main/index.html\"><span class="fa fa-home"></span>&nbsp;主页</a></li>
            <li><a href="'+topBar.url+'/main/core/view/core.html\"><span class="fa fa-map"></span>&nbsp;一张图</a></li>
            <li><a href="'+topBar.url+'/main/depot/view/index.html\"><span class="fa fa-plane"></span>驾驶舱</a></li>
        </ul>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/menu.png" width="15" height="15">
            </a>
            <div class="navpanel">
                <div class="row" style="height: 100%">
                    <div class="col-md-3 funcMenu" style="background-color: #90B4E7">
                        <a href="'+topBar.menuManage+'"><i class="fa fa-cog fa-2x"></i>
                            <p>基础配置</p></a></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                    <div class="col-md-3 funcMenu"></div>
                </div>
            </div>
            <div class="panel-sign"></div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/user.png" width="15" height="15">
            </a>
            <ul class="user-info">
                <li>
                    <a href="#"><img src="img/user-info.png" width="15" height="15">&nbsp;&nbsp;个人信息</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><img src="img/altpwd.png" width="15" height="15">&nbsp;&nbsp;修改密码</a>
                </li>
            </ul>
            <div class="panel-sign"></div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/msg.png" width="15" height="15">
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/info.png" width="15" height="15">
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/phone.png" width="15" height="15">
            </a>
            <div class="panel-sign"></div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <img src="img/download.png" width="15" height="15">
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                退出
            </a>
        </li>
    </ul>
</nav>
<script src="../../lib/jquery/jquery-3.3.1.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>