<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Title</title>
    <link rel="stylesheet" href="../../../config/basemanage/common/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../config/basemanage/common/css/frame.css">
    <link rel="stylesheet" href="../../../config/basemanage/common/libs/nav/css/nav.css">
    <link rel="stylesheet" type="text/css" href="../../../config/basemanage/common/libs/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--头部-->
<div id="sui_nav" class="sui-nav horizontal">
    <div class="sui-nav-wrapper nav-border nav-line">
        <div class="pull-left nav-header">
            <img src="img/logo.png" alt="华南光电">
            智能可视化监管系统
        </div>
        <ul>
            <li><a class="" href="#"><span class="glyphicon glyphicon-home"></span>&nbsp;主页</a></li>
            <li><a class="" href="#"><span class="glyphicon glyphicon-fire"></span>&nbsp;一张图</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-plane"></span>驾驶舱</a>
                <ul>
                    <li><a href="#"><span class="glyphicon glyphicon-edit"></span> editor</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> pencil</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-saved"></span> Level23</a>
                        <span class="indicator">&gt;</span>
                        <ul>
                            <li><a href="#">Level31</a></li>
                            <li><a href="#">Level32</a></li>
                            <li><a href="#">Level33</a>
                                <ul>
                                    <li><a href="#">Level331</a></li>
                                    <li><a href="#">333 is hide</a></li>
                                    <li class="hide-in-horizontal"><a href="#">Level333</a></li>
                                    <li><a href="#">Level334</a></li>
                                </ul>
                                <span class="indicator">&gt;</span>
                            </li>
                            <li><a href="#">Level34</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-save"></span> Level24</a></li>
                </ul>
            </li>

        </ul>
        <ul class="pull-right">
            <li>
                <a class="glyphicon glyphicon-home panel-home"></a>
                <div class="navpanel">
                    <div class="row" style="height: 100%">
                        <div class="col-md-3 funcMenu" style="background-color: #90B4E7"><i
                                class="fa fa-user fa-2x"></i><a href=""><p>用户管理</p></a></div>
                        <div class="col-md-3 funcMenu" style="background-color: #acb0cc"><i
                                class="fa fa-tasks fa-2x"></i><a href=""><p>设备管理</p></a></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                        <div class="col-md-3 funcMenu"></div>
                    </div>
                </div>
            </li>
            <li><a class="glyphicon glyphicon-user"></a>
                <ul>
                    <li><a href="javascript:;">个人信息</a></li>
                    <li><a href="javascript:;">修改密码</a></li>
                    <li><a id="loginout" href="javascript:;">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>